
:root {
    font-family: "PT Sans Norrow", monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(150deg, #49086e 0%, #110720 50%, #110720 100%);
    background-repeat: no-repeat;
    background-size: cover; 
    box-sizing: border-box; 
    background-position: center;
}