:root {
    font-family: "PT Sans Norrow", monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(150deg, #49086e 0%, #110720 50%, #110720 100%);
}