.buyButton {
    width: 70px;
    height: 45px;
    border: 0;
    border-radius: 15px;
    background-color: #481479;
    color: #e6bbff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}

.buyButton:hover {
    background-color: #31023f;
    transition: all .5s;
}