.buyButton {
    width: 70px;
    height: 45px;
    border: 0;
    border-radius: 15px;
    margin: 2px;
    background-color: #481479;
    color: #e6bbff;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}

.buyButton:hover {
    background-color: #31023f;
    transition: all .5s;
}

.filterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: solid 1px orange;
    cursor: pointer; 
}

.filterButton:hover {
  
    background-color: #31023f;
    transition: all .5s;
}

.removeButton{
    width: 70px;
    height: 45px;
    border: 0;
    border-radius: 15px;
    background-color: #333;
    color: whitesmoke;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.removeButton:hover{
    background-color: red;
    transition: all .5s;
}