.buyButton {
    width: 70px;
    height: 45px;
    border: 0;
    border-radius: 15px;
    margin: 2px;
    background-color: #481479;
    color: #e6bbff;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}

.buyButton:hover {
    background-color: #31023f;
    transition: all .5s;
}

.filterButton {
    color: #ffff;
    font-size: 1.8rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;    
    cursor: pointer; 
    transition: .5s ease-in-out;
    
}

.filterButton:hover {
    color: #9e02f8;
    text-shadow: -7px 6px 20px  black;
    transition: .5s ease-in-out;  
}

.removeButton{
    width: 70px;
    height: 45px;
    border: 0;
    border-radius: 15px;
    background-color: #333;
    color: whitesmoke;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.removeButton:hover{
    background-color: red;
    transition: all .5s;
}
.finalyButton{
    width: 100px;
    height: 55px;
    border: 0;
    border-radius: 15px;
    background-color: #333;
    color: whitesmoke;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.finalyButton:hover{
    background-color: green;
    transition: all .5s;
}