.container{
    margin: 0;

 }
 
 
 .catalogo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 1rem;
    max-width: 1650px;
    margin: 0 auto;
 }