.card {
    background-color: #340B52;
    border: solid 2px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px;
}

.content{
    border: solid 2px;
    width: fit-content;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    border-radius: 5px;
    background-color: #C982F6;
  
}

.info{
    font-size: 20px;
    color: #ffffff;
}

.cardFooter {
    display: flex;
    gap: 100px;
}