.header {
    font-family: "PT Sans Norrow", monospace;
    width: 100vw;
    height: 60px;
    background-color: transparent;
    
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    top: 1rem;
}

.nomeLoja {
    font-family: "PT Sans Norrow", monospace;
    text-decoration: none;
    color: #fff;
    font-size: 3.12rem;
    font-weight: bold;
}

.nomeLoja:hover {
    scale: 1.05;
    transition: .5s;
}
.header nav button {
    font-family: "PT Sans Norrow", monospace;
}

.header nav a {     
       
    text-decoration: none;
    color: #fff;    
    padding-right: 5rem;
    font-size: 1.8rem;
    transition: .5s ease-in-out;
}

.header nav a:hover {
    color: #9e02f8;
    text-shadow: -7px 6px 20px  black;
    transition: .5s ease-in-out;
}

.header nav  {
   display: flex;
   gap: 5rem;
}

.header p{
    color: white;  
    
}
