.container{
   height: 100%; 
   background: linear-gradient(
       to bottom,
       #522B92,
       #000000
   );
   background-repeat: no-repeat;
   background-size: cover; 
}


.catalogo {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
   margin-block: 1rem;
   max-width: 1650px;
   margin: 0 auto;
}