.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.h2{
    color: aliceblue;
    transform: color 0.5s;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px ;
}
.h2 :hover{
  color: red;

}

.image {
  width: 100%;
  height: 300px;
  border-radius: 10px;  
}
.cardFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  overflow: hidden;

}
.info{ 
  font-size: 17px;
  color: #ffffff;    
  margin-right: 4px;
}

.info p{
  display: flex;
  gap: 5px;
}
.totalContainer {
  margin-top: 20px;
  text-align: right;
}

.total {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}